@import "../../styles/vars";

$lightGrey: lighten($grey, 25%);

.StepperContainer{
  clear:both;
  display: block;

  .StepContainer {
    position: relative;

    &:after{
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0px;
    }

    &.active, &.completed {
      &:after{
        display: none;
      }
    }

    h4 {
      text-transform: uppercase;;
      font-weight: bold;
      padding-left: 28px;
      font-size: 8px;
      line-height: 1em;
      margin:0;
      padding-top: 5px;
      letter-spacing: 0.8px;
      font-family: $sourceSansPro;

      span{
        text-transform: none;
        color: $grey;
        font-size: 9px;
        letter-spacing: 0px;
      }
    }
    
    .stepLine {
      background-color: $lightGrey;
      position: absolute;
      width: 1px;
      height: calc(100% - 10px);
      left:12px;
      top: 15px;

      &.completed {
        background-color: $yocaleOrange;
        height: calc(100% - 15px);
      }
    }

    .stepIndicator {

      display: block;
      border-radius: 20px;
      width: 6px;
      height: 6px;
      position: absolute;
      left: 10px;
      top: 7px;

      &.completed{
        background-color: none;
        
        i {
          color: $yocaleOrange;
          font-size: 14px;
          position: absolute;
          left: -3px;
          top: -8px;
        }
      }
        
      &.uncompleted{
        
        background-color: $yocaleBlue;
      }

      &.active{
        background-color: $yocaleOrange;
      }

      

    }
  }
}