@import '../../../../styles/vars';

.credentials {
  padding: 20px;
  text-align: center;
  display: block;
  min-height: 200px;
  position: relative;

  h2 {
    font-family: $sourceSansPro;
    font-size: 16px;
    line-height: 1.2em;
    text-align: left;
    display: block;
  }

  .innerCredentials {
    padding: 10px 20px;

    .md-text-field-container{
      margin-bottom: 20px;
    }
  }
  .md-password-btn{
    top: 5px;
  }

  .md-divider--text-field{
    &:after {
      background-color: lighten($yocaleOrange, 10%);
    }
  }
  .md-text-field-message{
    text-align: left;
  }

  button.yocaleButton {
    display: block;
    margin-bottom: 20px;
    min-width: 170px;
  }

  .facebookButton{
    background-color: #3b5998;
    position: relative;
    padding-left: 35px;

    &:before{
      display: block;
      content: "";
      height: 15px;
      width: 15px;
      left: 15px;
      position: absolute;
      background-image: url('/img/facebook-icon.png');
      background-size: 100%;

    }
  }
  .googleButton{
    background-color: #dd4b39;
    position: relative;
    padding-left: 35px;

    &:before{
      display: block;
      content: "";
      height: 15px;
      width: 15px;
      left: 15px;
      position: absolute;
      background-image: url('/img/google-icon.png');
      background-size: 100%;
    }
  }
}
