.UpdatePassword{
  height: 100%;
  padding: 0;
  margin: 0;

  .container{
    .inlineButtons{
      margin-top: 20px;
      
      .skipButton{
        margin-left: 20px;
      }
    }
    p{
      font-weight: bold;
      font-size: 18px;
      line-height: 1.2em;
    }
    ol{
      li {
        text-align: left;
        font-weight: bold;
        line-height: 2em;
      }
    }
  }
}