@import "../../../styles/vars";

.headerWidget{
  background-color: #ff5a00 !important;
  display: block !important;
  height: 40px !important;
  text-align: center;

  h2 {
    display: block;
    font-family: $sourceSansPro;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: 1em;
    margin: 0px 0 5px 0;
    padding-top: 10px;
    width: 100%;
  }
  h3 {
    color: lighten($white, 10%);
    display: block; 
    font-family: $sourceSansPro;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.1px;
    line-height: 1em;
    margin: 0px 0 0px 0;
    width: 100%;
  }
}