.fade-enter {
  opacity: 0;
  transition: opacity .3s ease-in;
}

.fade-enter.fade-enter-active {
    // font-size: 1em;
    opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .3s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}

.fade-appear {
  opacity: 0.01;
  transition: opacity 0.3s ease-in;
}

.fade-appear.fade-appear-active {
  opacity: 1;
}