@import "../../../styles/vars";

$lightGrey: lighten($grey, 25%);
$darkGrey : darken($grey, 30%);

.StepperContainer{
  clear:both;
  display: block;

  .StepContainer {
    position: relative;

    strong {
      font-weight: bold;
    }

    .stepContentBorder{
      border: 1px solid $lightGrey;
      margin: 10px 12px;

      p {
        color: $darkGrey;
        font-family: $lato;
        line-height: 1em;
        font-size: 11px;
        margin-bottom: 5px;

        .centered{
          text-align: center;
        }
      }
    }

    .stepContent {
      padding: 10px 10px 0px 28px;

      p {
        font-family: $lato;
        font-size: 11px;
        color: $darkGrey;
        padding: 0px 0 14px;
        margin-bottom: 0;
      }
    }

    h4 {
      @include uppercaseTitle;
      padding-left: 28px;
      padding-top: 5px;

      span{
        color: $grey;
        font-size: 9px;
        letter-spacing: 0px;
        text-transform: none;
      }
    }
    
    .stepLine {
      background-color: $lightGrey;
      height: calc(100% - 15px);
      left:12px;
      position: absolute;
      top: 15px;
      width: 1px;

      &.completed {
        top: 20px;
        background-color: $yocaleOrange;
        height: calc(100% - 20px);
      }
    }

    .stepIndicator {

      border-radius: 20px;
      display: block;
      height: 6px;
      left: 10px;
      position: absolute;
      top: 5px;
      width: 6px;

      &.completed{
        background-color: none;
        
        i {
          color: $yocaleOrange;
          font-size: 14px;
          left: -3px;
          position: absolute;
          top: -5px;
        }
      }
        
      &.uncompleted{
        
        background-color: $yocaleBlue;
      }

      &.active{
        background-color: $yocaleOrange;
      }

    }
  }
}