@import '../../../styles/vars';

.credentials {
  padding: 20px;
  text-align: center;
  display: block;
  min-height: 200px;
  position: relative;

  h2 {
    font-family: $sourceSansPro;
    font-size: 16px;
    line-height: 1.2em;
    text-align: left;
    display: block;
  }

  .innerCredentials {
    padding: 10px 20px;

    .md-text-field-container{
      margin-bottom: 20px;
    }
  }
  .md-password-btn{
    top: 5px;
  }

  .md-divider--text-field{
    &:after {
      background-color: lighten($yocaleOrange, 10%);
    }
  }
  .md-text-field-message{
    text-align: left;
  }

  button.yocaleButton {
    display: block;
    margin-bottom: 20px;
    min-width: 150px;
  }
}
