@import '../../../../../styles/vars';

#intakeForm{
  .md-dialog-content{
    height: 100%;
  }
  .dropdownSelect{
    margin-top: 10px;
  }
  .formStatus{
    display: block;
    text-align: center;
    margin: 5px 0 0;
    font-size: 14px;
    color: $grey;
  }

  #numbers{
    display: block;
    width: 100%;
  }

  .doneIntakeFormBtn{
    background: $yocaleOrange;
    border: none;
    bottom:0;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: bold;
    left: 0;
    outline: none;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    height: 40px;
  }

  .formTitles{
    display: flex;

    h3{
      cursor: pointer;
      margin-right: 15px;
      margin-bottom: 5px;
      padding-right: 15px;
      border-right: 1px solid $grey;

      &:last-child{
        border-right: none;
      }

      &:hover, &.active{
        font-weight: bold;
      }
    }
  }

  .SingleForm{
    // padding-top: 15px;
    display: none;

    .descriptionForm{
      color: darken($grey, 40%);
      font-size: 14px;
      margin-bottom: 10px;
      font-style: italic;
    }

    

    &.active{
      display: block;
    }
    
    .onCompleted{
      display: none;
    }

    &.completed{
      form{
        display: none;
      }

      .onCompleted{
        display: block;
        text-align: center;
        margin: 20px 0;
        font-size: 18px;
        color: $yocaleOrange !important;
        font-weight: bold;
        i{
          display: block;
          font-size: 36px;
          color: $yocaleOrange !important;
          border: 3px solid $yocaleOrange;
          border-radius: 50px;
          line-height: 1.5em;
          width:60px;
          height: 60px;
          margin: auto;
          margin-bottom: 10px;

        }
      }
    }

    label{
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }

    select, input:not([type="checkbox"]), textarea{
      margin-bottom: 10px;
      width:100%;
    }

    p{
      margin: 10px 0 15px;
    }

    .checkbox-group{
      padding: 10px 0;
      line-height: 2.2em;
      label{
        display: inline;
      }
    }


  }
}


.md-dialog--centered .md-list, .dropdownSelect .md-list--menu-below .md-list-item .md-text{
  padding-bottom: 0!important;
}

.md-dialog--centered .md-list-tile{
  padding: 0 24px!important;
}

#intakeForm .SingleForm label{
  margin-bottom: 5px!important;
}

#intakeForm .SingleForm select, #intakeForm .SingleForm input:not([type="checkbox"]), #intakeForm .SingleForm textarea{
  margin-bottom: 5px!important;
}

#intakeForm input[type=radio]:checked::before{
  margin-left: 1px!important;
  margin-top: 0!important;
  width: 1.4em!important;
  height: 1.4em!important;
}