@import '../../../../../styles/vars';

#intakeForm{
  .md-dialog-content{
    height: 100%;
  }

  #numbers{
    display: block;
    width: 100%;
  }

  .doneIntakeFormBtn{
    background: $yocaleOrange;
    border: none;
    bottom:0;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: bold;
    left: 0;
    outline: none;
    padding: 10px 0;
    position: absolute;
    width: 100%;
  }

  .formTitles{
    display: flex;
    border-bottom: 1px solid $grey;

    h3{
      cursor: pointer;
      margin-right: 15px;
      margin-bottom: 5px;
      padding-right: 15px;
      border-right: 1px solid $grey;

      &:last-child{
        border-right: none;
      }

      &:hover, &.active{
        font-weight: bold;
      }
    }
  }

  .SingleForm{
    padding-top: 15px;
    display: none;

    &.active{
      display: block;
    }
    
    .onCompleted{
      display: none;
    }

    &.completed{
      form{
        display: none;
      }

      .onCompleted{
        display: block;
      }
    }
  }
}