@import './styles/vars';
@import './styles/common';
@import './styles/animations';
@import '../node_modules/react-md/src/scss/react-md';
@import '../node_modules/react-datetime/css/react-datetime';

$md-primary-color: $yocaleOrange;
$md-secondary-color : $yocaleOrange;

// Include all components
@include react-md-everything;
// $FontPathSourceSansPro: "../public/fonts";
// @import '../node_modules/npm-font-source-sans-pro/source-sans-pro';

#yocale-booking-widget{
  width: 100vw;
}

body{
  font-family: $lato ;
  height: 100%;
  margin: 0px ;
  overflow: hidden;
  padding: 0px ;
  background: #fafafa;
}
h1, h2, h3, h4{
  font-family: $sourceSansPro !important;
}